<nav class="navbar navbar-expand-lg navbar-light bg-white" >
  <img src="../../../assets/img/logCap.PNG" style="width: 70px;">

  <form class="d-flex">
    <button class="btn btn-outline-success " type="submit" style="position: relative ; left: 1400px;" routerLink="/infirmier">retour</button>
  </form>
</nav>



<div class="container mt-2" >
  <div class="card" >
    <div class="card-header">Liste de mes Rendez-vous </div>

    <div class="card-body" >
      <!--      <form [formGroup]="rechercheformGroup" (ngSubmit)="handleRechercheUtilisateur()" >-->
      <!--        {{this.rechercheformGroup.value | json}}-->
      <!--        <div class="input-group">-->
      <!--          <label class="input-group-text">Keyword :</label>-->
      <!--          <input type="text" formControlName="keyword" class="form-control">-->
      <!--          <button  class="btn btn-outline-success"><i class="bi bi-search"></i></button>-->

      <!--        </div>-->
      <!--      </form>-->


      <table class="table" >
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">date RV</th>
          <th scope="col">Numero Carnet</th>
          <th scope="col">Infirmier </th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
                <tr *ngFor="let r of rvs ">
                  <td>{{r.id}}</td>
                  <td>{{r.dateRv}}</td>
                  <td>{{r.carnet.numeroCarnet}}</td>
                  <td>{{r.utilisateur.prenom}}</td>
                  <td>
                    <button  class="btn btn-outline-dark"><i class="bi bi-plus-circle-dotted"></i></button>
                  </td>
                </tr>
        </tbody>
      </table>

    </div>

  </div>

  </div>

