<nav class="navbar navbar-expand-lg navbar-light bg-white" style="position: fixed; width: 100%;">
  <img src="../../assets/img/logCap.PNG"  alt="..." style="width: 150px;">
  <form class="d-flex">

    <button class="btn btn-outline-success " type="submit" style="position: relative ; left: 1400px;" routerLink="/login">se deconnecter</button>
  </form>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">


  </div>
</nav>
<div class="container-fluid">

  <div class="row img-container" style="padding:0;" >
    <img src="../../assets/img/vaccine.PNG"  alt="..." style="height: 650px;">
  </div>

</div>
<br><br><br>

<!-- <div class="main-container">
 <div class="heading">
    <h1 class="heading__title">Gradient Banner Cards</h1>
    <p class="heading__credits"><a class="heading__link" target="_blank" href="https://dribbble.com/sl">Design by Simon Lurwer on Dribbble</a></p>
  </div>
  <div class="cards">
    <div class="card card-1">
      <p>Mes Carnets</p>
     <i class="fas fa-times"></i>
      <p class="card-body" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis doloremque corrupti reiciendis quam vitae, eos perferendis aspernatur odit ut minima tempora deleniti at eveniet maiores possimus sed explicabo sunt sit.</p>
      <p class="card__apply">
        <a class="card__link" href="#">Apply Now <i class="fas fa-arrow-right"></i></a>
      </p>
    </div>
    <div class="card card-2">
      <p>Mes Vaccins</p>
      <div class="card__icon"><i class="fas fa-bolt"></i></div>

      <p class="card-body">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius, est vitae! Expedita aspernatur similique ipsum at, quisquam, iste provident, odit exercitationem modi velit labore in quae id molestias aliquam quod?</p>
      <p class="card__apply">
        <a class="card__link" href="#">Apply Now <i class="fas fa-arrow-right"></i></a>
      </p>
    </div>
    <div class="card card-3">
      <p>Mes Rendez-Vous</p>

      <div class="card__icon"><i class="fas fa-bolt"></i></div>

      <p class="card-body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur nulla dolorem fugiat doloribus minus nihil esse doloremque optio dicta culpa. Deserunt quia dignissimos amet exercitationem esse officiis reprehenderit, fuga laudantium.</p>
      <p class="card__apply">
        <a class="card__link" href="#">Apply Now <i class="fas fa-arrow-right"></i></a>
      </p>
    </div>


  </div>
</div> -->

<div class="container">
  <div class="row">
      <div class="col-lg-6">
          <div class="card card-margin">
              <div class="card-header no-border">
                  <h5 class="card-title">Mes Vaccinations</h5>
              </div>
              <div class="card-body pt-0">
                  <div class="widget-49">
                      <div class="widget-49-title-wrapper">
                          <div class="widget-49-date-primary">
                              <span class="widget-49-date-day">09</span>
                              <span class="widget-49-date-month">apr</span>
                          </div>
                          <div class="widget-49-meeting-info">
                              <span class="widget-49-pro-title">PRO-08235 DeskOpe. Website</span>
                              <span class="widget-49-meeting-time">12:00 to 13.30 Hrs</span>
                          </div>
                      </div>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, quia quidem, incidunt eos corrupti dolor, minus in doloribus ex omnis officia. Eum harum, amet doloribus iure ex aliquid neque esse?</p>
                      <div class="widget-49-meeting-action">
                          <a routerLink="/listerVaccination" class="btn btn-sm btn-flash-border-primary">View All</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- <div class="col-lg-6">
          <div class="card card-margin">
              <div class="card-header no-border">
                  <h5 class="card-title">Mes Carnets</h5>
              </div>
              <div class="card-body pt-0">
                  <div class="widget-49">
                      <div class="widget-49-title-wrapper">
                          <div class="widget-49-date-warning">
                              <span class="widget-49-date-day">13</span>
                              <span class="widget-49-date-month">apr</span>
                          </div>
                          <div class="widget-49-meeting-info">
                              <span class="widget-49-pro-title">PRO-08235 Lexa Corp.</span>
                              <span class="widget-49-meeting-time">12:00 to 13.30 Hrs</span>
                          </div>
                      </div>
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat assumenda, dolore sequi veniam explicabo, at voluptates consequuntur eveniet accusantium voluptas, harum dignissimos doloremque dicta porro est earum enim perferendis provident!</p>
                      <div class="widget-49-meeting-action">
                          <a href="#" class="btn btn-sm btn-flash-border-warning">View All</a>
                      </div>
                  </div>
              </div>
          </div>
      </div> -->
      <div class="col-lg-6">
          <div class="card card-margin">
              <div class="card-header no-border">
                  <h5 class="card-title">Mes rendez-vous</h5>
              </div>
              <div class="card-body pt-0">
                  <div class="widget-49">
                      <div class="widget-49-title-wrapper">
                          <div class="widget-49-date-success">
                              <span class="widget-49-date-day">22</span>
                              <span class="widget-49-date-month">apr</span>
                          </div>
                          <div class="widget-49-meeting-info">
                              <span class="widget-49-pro-title">PRO-027865 Opera module</span>
                              <span class="widget-49-meeting-time">12:00 to 13.30 Hrs</span>
                          </div>
                      </div>
                     <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis error aperiam quas minus tempora nobis quod, impedit quia natus expedita pariatur ad commodi eaque aspernatur eum doloremque reiciendis consequuntur voluptatibus!</p>
                      <div class="widget-49-meeting-action">
                          <a routerLink="/listerRv" class="btn btn-sm btn-flash-border-success">View All</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>



<!-- <div class="card">
  <img src="https://images.unsplash.com/photo-1615147342761-9238e15d8b96?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80" class="card__image" alt="brown couch" />
  <div class="card__content d-flex">
    <time datetime="2021-03-30" class="card__date">30 März 2021</time>
    <span class="card__title">Duis autem vel eum iriure dolor in hend in vulputate</span>
  </div>
</div> -->


<div class="container-fluid" style="background-color: #ffffff; height: 700px;" >
  <br><br>
  <div class="container mt-5 mb-5" >
    <div class="d-flex justify-content-center row">
        <div class="col-md-12" style="box-shadow: 10px 5px 5px rgb(220, 220, 220); border-radius:40px ;">
            <div id="carousel-1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="border ">
                            <div class="row no-gutters">
                                <div class="col-md-5"><img class="img-fluid profile" src="../../assets/img/infirmiere.PNG" height="300"></div>
                                <div class="col-md-7">
                                    <div class="bg-white p-2 px-3 testimonials"><br><br><br><br>
                                        <h5 class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.&nbsp;<br>Duis aute irure dolor in reprehenderit.<br></h5>

                                        <div class="d-flex align-items-center mt-3 text-success font-weight-bold"><span class="mr-2">Learn more</span><i class="fa fa-long-arrow-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="border rounded">
                            <div class="row no-gutters">
                                <div class="col-md-5"><img class="img-fluid profile" src="../../assets/img/vaccinParent.PNG" height="300"></div>
                                <div class="col-md-7">
                                    <div class="bg-white p-2 px-3 testimonials"><br><br><br><br>
                                        <h5 class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.&nbsp;<br>Duis aute irure dolor in reprehenderit.<br></h5>

                                        <div class="d-flex align-items-center mt-3 text-success font-weight-bold"><span class="mr-2">Learn more</span><i class="fa fa-long-arrow-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="border rounded">
                            <div class="row no-gutters">
                                <div class="col-md-5"><img class="img-fluid profile" src="../../assets/img/infirmiere.PNG" height="300"></div>
                                <div class="col-md-7">
                                    <div class="bg-white p-2 px-3 testimonials"><br><br><br><br>
                                        <h5 class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.&nbsp;<br>Duis aute irure dolor in reprehenderit.<br></h5>

                                        <div class="d-flex align-items-center mt-3 text-success font-weight-bold"><span class="mr-2">Learn more</span><i class="fa fa-long-arrow-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
